/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

// large desktop
@mixin lg {
  @media screen and (max-width: $lg-max) {
    @content;
  }
}
// desktop
@mixin md {
  @media screen and (max-width: $md-max) {
    @content;
  }
}
// tablet
@mixin sm {
  @media screen and (max-width: $sm-max) {
    @content;
  }
}
// mobile
@mixin xs {
  @media screen and (max-width: $xs-max) {
    @content;
  }
}
// small mobile
@mixin xxs {
  @media (max-width: $xxs-max) {
    @content;
  }
}
// desktop landscape
@mixin mdX {
  @media screen and (max-width: $md-max) and (orientation: landscape) {
    @content;
  }
}
// tablet landscape
@mixin smX {
  @media screen and (max-width: $sm-max) and (orientation: landscape) {
    @content;
  }
}
//==============================================
.articles {
  margin-bottom: 133px;
  &__title {
    text-align: center;
    margin: 64px 0 33px;
    h3 {
      font-size: 44px;
      font-weight: 900;
      display: contents;

      align-items: center;
      justify-content: center;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    img {
      margin: auto;
      width: 100%;
    }
    p {
      font-size: 22px;
      color: #000;
      text-align: center;
      //padding: 20px 70px 64px 70px;
      margin: 20px 64px;
    }
    @media screen and (max-width: 676px) {
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
}
//  @include xs{
//     .articles__wrap {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     //column-gap: 20px;
//     img {
//       margin: auto;
//       width: 100%;
//     }
//     p {
//       font-size: 22px;
//       color: #000;
//       text-align: center;
//       //padding: 20px 70px 64px 70px;
//       margin: 20px 64px;
//     }
//      a:nth-child(odd){
//       display:none;
//     }
//   }
// }
