.site-footer {
  position: relative;
  padding: 80px 0 10px;
  font-size: 16px;
  color: #fff;
  background: #000;
  .slide {
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    span {
      margin: 0 14.64px;
    }
    span:nth-child(odd) {
      font-weight: 900;
    }
  }
  .container {
    .content {
      img {
        margin: auto;
      }
      .address {
        display: flex;
        justify-content: center;
        margin: 2rem 0 4rem;
        li {
          display: inline-block;
          padding: 0 1rem;
          a {
            color: #ffffff;
            text-decoration-line: underline;
          }
        }
      }
      p {
        text-align: center;
        margin: 30px 0;
        font-weight: 400;
        letter-spacing: 2px;
      }
    }
  }
}
