/* 
font-family: 'Cabin', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
*/

// @font-face {
//   font-family: "ProximaNova";
//   src: url("../public/fonts/ProximaNovaRegular.eot");
//   src: url("../public/fonts/ProximaNovaRegular.eot") format("embedded-opentype"),
//     url("../public/fonts/ProximaNovaRegular.woff2") format("woff2"),
//     url("../public/fonts/ProximaNovaRegular.woff") format("woff"),
//     url("../public/fonts/ProximaNovaRegular.ttf") format("truetype"),
//     url("../public/fonts/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg");
//   font-style: normal;
//   font-weight: normal;
// }
@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/Merriweather-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-Light.woff2") format("woff2"),
    url("../public/fonts/Merriweather-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-BlackItalic.woff2") format("woff2"),
    url("../public/fonts/Merriweather-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../public/fonts/Merriweather-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-Black.woff2") format("woff2"),
    url("../public/fonts/Merriweather-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-Italic.woff2") format("woff2"),
    url("../public/fonts/Merriweather-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-LightItalic.woff2") format("woff2"),
    url("../public/fonts/Merriweather-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../public/fonts/Merriweather-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather";
  line-height: 1.3;
  font-size: 14px;
  // background-color: #000;
  width: 100%;
  // color: #fff;
  // overflow-x: hidden;
}

#__next {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

ol li,
ul li {
  line-height: 1.5em;
}

hr {
  border-top: 1px solid #dadada;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none;
}

main {
  margin-top: 92px;
}

pre {
  margin-bottom: 0;
}
code.hljs {
  padding: 0.8rem;
}

.red-circle {
  background-color: red;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

//============================================
/*primary colors*/
$yellow-cl: #bea67c;
$white-cl: #fff;
$black-cl: #0e0e0e;

/*global text color*/
$text-cl: #464646;
$text-black-cl: #000;

/*global bg color*/
$main-bg-cl: #fff;
$black-bg-cl: $black-cl;

// timing transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;
$font-main: pr;

/*headings typo*/
$fz-text: 16px;
$lh-text: 20px;

$fz-text-m: 16px;
$lh-text-m: 20px;

$line-height: 83px;

// html,
// body {
//   --heightHeder: 90px;
// }

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1920px;
$container-width: 854px; // tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

@-ms-viewport {
  width: device-width;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
html {
  font-size: 62.5%; //1rem = 1px;
}
html,
body {
  width: 100%;
  max-width: $container-max-width;
  margin: auto;
  //@include text($fz-text, $font-main, $lh-text, $text-cl, none);
  background: $white-cl;
  scroll-behavior: smooth;
  //   position: relative;
  //@include customscroll();
  .container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-fluid {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    // @include xs {
    //   padding-right: 15px;
    //   padding-left: 15px;
    // }
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .no-gap {
    margin-right: 0;
    margin-left: 0;
  }
  .no-gap > .col,
  .no-gap > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $xxs-min) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: $xs-min) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: $sm-min) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: $md-min) {
    .container {
      max-width: $container-width;
    }
  }
  --pdSection: 90px 0;

  .mainwrapper-homepage {
    width: 100%;
    margin: auto;
    //@include visible;
    // section {
    //   &.pd {
    //     padding: var(--pdSection);

    //     @include xs {
    //       --pdSection: 70px 0;
    //     }
    //   }
    // }
  }
  // @include lg {
  //   // CSS responsive large desktop
  // }
  // @include md {
  //   // CSS responsive desktop
  // }
  // @include sm {
  //   // CSS responsive tablet
  // }
  // @include xs {
  //   // CSS responsive mobile
  // }
  // @include xxs {
  //   // CSS responsive small mobile
  // }

  // @media (max-width: 500px) {
  // }

  // @include maxW(500px) {
  // }
}
//=========================================================
// MIXINS
// large desktop
@mixin lg {
  @media screen and (max-width: $lg-max) {
    @content;
  }
}
// desktop
@mixin md {
  @media screen and (max-width: $md-max) {
    @content;
  }
}
// tablet
@mixin sm {
  @media screen and (max-width: $sm-max) {
    @content;
  }
}
// mobile
@mixin xs {
  @media screen and (max-width: $xs-max) {
    @content;
  }
}
// small mobile
@mixin xxs {
  @media (max-width: $xxs-max) {
    @content;
  }
}
// desktop landscape
@mixin mdX {
  @media screen and (max-width: $md-max) and (orientation: landscape) {
    @content;
  }
}
// tablet landscape
@mixin smX {
  @media screen and (max-width: $sm-max) and (orientation: landscape) {
    @content;
  }
}
// mobile landscape
@mixin xsX {
  @media screen and (max-width: $xs-max) and (orientation: landscape) {
    @content;
  }
}

@mixin maxW($args) {
  @media (max-width: $args) {
    @content;
  }
}
@mixin minW($args) {
  @media (min-width: $args) {
    @content;
  }
}
@mixin minH($args) {
  @media (min-height: $args) {
    @content;
  }
}
@mixin maxH($args) {
  @media (max-height: $args) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
}
@mixin transform($args) {
  transform: $args;
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
}

@mixin transform-origin($args) {
  transform-origin: $args;
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -ms-transform-origin: $args;
  -o-transform-origin: $args;
}
@mixin transition-delay($args) {
  transition-delay: $args;
  -webkit-transition-delay: $args;
  -moz-transition-delay: $args;
  -ms-transition-delay: $args;
  -o-transition-delay: $args;
}

@mixin transition($args) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}
@mixin text($font-size, $font-family, $line-height, $color, $text-transform) {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $color;
  text-transform: $text-transform;
}

@mixin mid($flex: false) {
  @if $flex == false {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    position: absolute;
  } @else {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin midimg($maxwidth: initial) {
  max-width: $maxwidth;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  @include mid;
}

@mixin fullscreen($fixed: false) {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @if $fixed {
    position: fixed;
  } @else {
    position: absolute;
  }
}

@mixin visible($param: 1) {
  @if $param == 1 {
    opacity: 1;
    pointer-events: auto;
  } @else {
    opacity: 0;
    pointer-events: none;
  }
}
@mixin br($radius) {
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin overtext($lines) {
  display: -webkit-inline-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin customscroll($width: 5px, $bgTrack: #000, $bgThumb: #ddd) {
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background: $bgTrack;
  }
  &::-webkit-scrollbar-thumb {
    background: $bgThumb;
  }
}
@mixin line($width, $height, $color) {
  position: absolute;
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-color: $color;
}

// @include xs {
//   .articles__wrap {
//     display: grid !important;
//     grid-template-columns: repeat(1, 1fr) !important;
//     //column-gap: 20px;
//     img {
//       margin: auto;
//       width: 100%;
//     }
//     p {
//       font-size: 22px;
//       color: #000;
//       text-align: center;
//       //padding: 20px 70px 64px 70px;
//       margin: 20px 64px;
//     }
//     a:nth-child(odd) {
//       display: none;
//     }
//   }
// }
