.hero {
  margin-top: 77px;
  .container {
    .img {
      img {
        margin: auto;
      }
     
    }
     hr {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        border: 0;
        border-top: 3px solid #000000;
        width: 640px;
      }
    // .text {
    //   margin: 45px auto 0 auto;
    //   h1 {
    //     color: #000000;
    //     font-weight: 900;
    //     font-size: 54px;
    //     text-align: center;
    //   }
    //   p {
    //     font-size: 20px;
    //     font-weight: 400;
    //     line-height: 1.7;
    //     text-align: center;
    //     padding-top: 32px;
    //   }
    //   hr {
    //     margin-top: 2.5rem;
    //     margin-bottom: 2.5rem;
    //     border: 0;
    //     border-top: 3px solid #000000;
    //     width: 600px;
    //   }
    // }
    //  &::after {
    //       content: "";
    //       height: 1px;
    //       background: #000000;
    //     }
  }
}
